<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-01-16T08:26:04Z</date>
	<key>WorkspacePath</key>
	<string>/Users/zhangwenyi/Desktop/wenyiObjc/Runloop/源代码/RunLoop的基本使用/RunLoop的基本使用.xcodeproj</string>
</dict>
</plist>
